@charset "UTF-8";

// 设置背景图片
@mixin bgImg($url) {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url($url);
}

// 设置长宽
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

// 设置 flex
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// 设置超出省略
@mixin ellipsis($width: 100%, $display: inline-block) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

// 修复浮动盒子空间
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
